

:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
    --font-h1: 56px;
    --font-h2: 36px;
    --f0nt-h3: 20px;
    --font-body: 16px;
    --font-small: 12px;
    --font-medium: 16px;
    --font-button-text: 16px;
    --font-link: 12px;
    --font-team: 16px;
    --font-footer-logo: 18px;
    --line-height-h1: 1.07;
    --line-height-h2: 1.11;
    --line-height-h3: 1.2;
    --line-height-section-description: 1.5;
    --line-height-team-title: 1.5;
    --line-height-portfolio: 1.5;
    --line-height-footer-logo: 1,16;
    --letter-spacing-h1: 1.12;
    --letter-spacing-h2: 0.72,
    --letter-spacing-h3: 0.4;
    --letter-spacing-section-description: 0.32;
    --letter-spacing-team-title: 0.32,
    --letter-spacing-portfolio: 0.32;
    --letter-spacing-footer-logo: 0.54;
}
* {
  list-style-type:none;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

body {
 font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

h1, h2, h3, h4, h5, h6, p  {
 margin-top: 0;
 margin-bottom: 0;
}







.container-header {
  width: 1440px;
  height: 72px;
 display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 0;
  margin-bottom: 0;
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}

.nav-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
}








.logo {
 color: var(--iris);
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: var(--font-footer-logo);
 letter-spacing: var(--letter-spacing-footer-logo);
 line-height: var(--line-height-footer-logo);
 text-decoration: none;
}
.logo span {
 color: var(--navy-blue);
}
.nav-menü {
 background-color: var(--white);
 color: var(--navy-blue);
}

.nav-list-ul {
  color: var(--navy-blue);
  
}


.nav-li {
 color: var(--navy-blue);
 font-size: var(--font-body);
 font-weight: 500;
 line-height: var(--line-height-portfolio);
 letter-spacing: var(--line-height-portfolio);
 text-decoration: none;
}


.nav-li:hover {
 color: var(--ocean);
}
.address {
 background-color: var(--white);
}
a {
  color: var(--slate);
  font-size: 16;
  font-weight: 500;
  line-height: var(--line-height-portfolio);
  letter-spacing: var(--line-height-portfolio);
  text-decoration: none;
}
a:hover {
  color: var(--ocean);
}


.conteiner-ilk-bolum {
 display: inline-block;
  background-color: var(--navy-blue);
 width: 1440px;
 height: 600px;
 top: 72px;
 margin-top: 0;
}

 

.section {
 /*background-color: var(--navy-blue);
 width: 1440px;
 height: 600px;
 top: 72px;
 margin-top: 0;*/
}
 

.section-title {
    color: var(--white);
   /* cursor: pointer */
    font-weight: 500;
    width: 496px;
    height: 120px;
    /*border-radius: 4px; */
    padding: 8px;
    margin-top: 98px;
    margin-left: 236px;
    margin-right: 236px; 
    margin-bottom: 146px;
    justify-content: center;
   /* align-items: center; */
}

.container-button {
   color: var(--white);
   /* cursor: pointer */
    font-weight: 500;
    width: 496px;
    height: 120px;
    border-radius: 4px;
    padding: 8px;
    margin-top: 48px;
    margin-left: 636px;
    margin-right: 636px; 
    margin-bottom: 188px;
    justify-content: center;
}

.Order-button {
    background-color: var(--iris);
    color: var(--white);
    cursor: pointer;
    font-weight: 500;
    width: 169px;
    height: 56px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    
}

.Order-button:hover {
   background-color: var(--ocean);
}
h1 {
 color: var(--white);
 background-color: var(--navy-blue);
 height: 120px;
 width: 496px;
 font-size: var(--font-h1);
 font-weight: 700;
 line-height : var(--font-height-h1);
 letter-spacing: var(--letter-spacing-h1);
 text-align: center;
 padding-right: 472px;
 padding-left: 472px;
 padding-bottom: 260px;
 padding-top: 188px;
}



img {
 display: block;
}





.Section-description-section {
  width: 1128px;
  height: 104px;
  background-color: var(--white);
  border: 1 solid white;
  margin-top: 120px;
  margin-left: 156px;
  margin-right: 156px;
}

.Section-description-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}


.Our-team {
  width: 1440px;
  height: 732px;
  background-color: var(--white) ;
  margin-top: 120px;
}

.our-team-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px; 
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 72px;
  padding-bottom: 120px;
}


/*.our-team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
} */



.container-portfolio {
  display: block;
  width: 1128px;
  height: 1000px;
  background-color: var(--white);
  border: 1px solid white;
  top: 1868px;
  left:156px
 
}





/*.Portfolio-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px; 
  margin-top: 48px;
  flex-wrap: wrap;
   text-transform: capitalize;
   margin-left: 156px;
 } */

.Portfolio-item {
   width: 360px;
  height: 420px; 
 } 



h2 {
background-color: var(--white);
 color: var(--navy-blue);
 font-size: var(--font-h2);
 font-weight: 700;
 line-height: var(--line-height-h2);
 letter-spacing: var(--letter-spacing-h2);
 text-align: center;
 display: flex;
  flex-direction: row;
  justify-content: center;
  /*padding-top: 120px;
  padding-bottom: 572px;
  padding-left: 639px;
  padding-right: 639px;*/
}

h3 {
 color: var(--navy-blue);
 font-size: var(font-h3);
 font-weight: 500; 
 line-height: var(line-height-h3);
 letter-spacing: var(letter-spacing-h3);
 display: flex;
 flex-direction: row;
 } 

 .div-portfolio-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 218px;
  height: 40px;
  margin-bottom: 72px;
  margin-left: 611px;
  margin-right: 611px;
 }

/*.Portfolio-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; */
}
.Section-description {
 color: var(--slate);
 font-size: var(--font-medium);
 font-weight: 400;
 line-height: var(--line-height-section-description);
 letter-spacing: var(--letter-spacing-section-description);
}



.Team-title {
  color: var(--slate); 
  font-size: var(--font-team); 
  font-weight: 400;
  line-height: var(--line-height-team-title);
  letter-spacing: var(--letter-spacing-team-title);
}

.our-team-item {
  width: 264px;
  height: 380px;
}
.Portfolio {
 color: var(--slate);
 font-size: var(--font-medium);
 font-weight: 400;
 line-height: var(--line-height-portfolio);
 letter-spacing: var(--line-height-portfolio);
}

.portfolioDiv1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px; 
  width: 1128px;
  height: 400px;
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 36px;
  margin-bottom: 24px;
}

.portfolioDiv2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px; 
  width: 1128px;
  height: 400px;
  margin-left: 156px;
  margin-right: 156px;
  margin-top: 24px;
  margin-bottom: 120px;
}

.Portfolio-item {
  width: 360px;
  height: 420px;
  border: 1px white;
}
.containerDiv {
  width: 264px;
  height: 112px;
  margin-top: 50px;
  margin-right: 1020px;
  margin-left: 78px;
}
/*.containerDiv {
  width: 1440px;
  height: 312px;
  margin-top: 120px;
} */
footer {
 background-color: var(--navy-blue);
 height: 312px;
 width: 1440px;
 padding-left: 156px;
padding-right: 1020px;
 padding-top: 100px;
 padding-bottom: 100px;
}
.footer-logo {
  color: var(--iris);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: var(--font-footer-logo);
  line-height: var(--line-height-footer-logo);
  letter-spacing: var(--letter-spacing-footer-logo);
  text-decoration: none;
}
.footer-logo-span {
 color: var(--cloud);
}
.footer-text {
  color: var(--cloud);
  font-size: var(--font-body);
  line-height: var(--line-height-portfolio);
  letter-spacing: var(--letter-spacing-portfolio);
}